$color-text-logo: #1968fc;
$color-text-black: #000;
$color-text-white: #fff;
$color-text-heading: #11223f;
$color-text-position: #1967fa;
$color-text-story-card: #111;

$color-background-button-upload: #1968fc;

$color-background: #fff;
$color-background-consultation: #1968fc;
$color-background-footer: #fbfbfb;

$color-line-workflow: #1968fc;
